@import "leaflet/dist/leaflet.css";
@import "../../includes/ChurchPlugins/assets/scss/mixins/breakpoints";
@import "../../includes/ChurchPlugins/assets/scss/vars";
@import "../../includes/ChurchPlugins/assets/scss/toast";
@import "leaflet-gesture-handling/dist/leaflet-gesture-handling.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#cploc_root {
	--cpl-map-control-gap: min(2vw, 40px);
	min-height: 300px;

	.leaflet-container {
		padding-bottom: 56.25%;
	}
	
	.cploc-container--mobile .leaflet-container {
		padding-bottom: calc(100vh - 70px); // bottom padding minus (80px) header height (70px)
	}
	
	.marker-pin {
		//background: #f00;
		
		.material-icons {
			font-size: 24px;
		}
		
		&--current {
			color: var(--cp-color-brand-primary);

			.material-icons {
				font-size: 30px;
			}
		}
		
	}
	
	// disable leaflet gesture 
	.leaflet-gesture-handling-touch-warning:after {
		content: none;
	}
	
}

body .cupertino-pane-wrapper {
	width: 100%;

	.pane {
		border-top-right-radius: var(--cp-border-radius);
		border-top-left-radius: var(--cp-border-radius);
		box-shadow: var(--cp-box-shadow);
		width: min(500px, 100%);
		position: absolute;
		z-index: 777777;
	}
	
	.draggable {
		z-index: 1;
		height: 60px;
	}

}
	

.cploc--mode-switch {
	cursor: pointer;
}

.cploc {
	position: relative;
}

.cploc-container {

	&--loading {
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		padding: 100px 0;
		z-index: 77777;
		background: rgba(255, 255, 255, .25);
	}

	.searchInput__root {
		box-shadow: var(--cp-box-shadow);
		background: white;
		padding: var(--cp-ui--gap-y);

		input {
			border: none;
			outline: none;
			box-shadow: none;
			background: transparent;
			padding: 0;
			margin-left: .5em;
		}
	}

}

.cploc-map {
	display: flex;
	flex-flow: row;
	position: relative;
	overflow: hidden;
	
	&--locations {
		width: min(20em, 40%);
		display: none;
		
		&--header {
			padding: var(--cp-ui--gap-y);
			
			> * {
				margin: 0 !important;
			}
		}
		
		&--search, .cploc--mode-switch {
			padding: var(--cp-ui--gap-y);
			font-size: var(--cp-font-size--sm);
		}

		&--location {
			padding: var(--cp-ui--gap-y);
		}
		
		@include media-breakpoint-up(lg) {
			display: block;
		}			
		
	}
	
	&--locations--mode {
		position: absolute;
		z-index: 777999;
		bottom: var(--cp-gap--large);
		right: var(--cp-gap--large);
		background: black;
		color: white;
		padding: var(--cp-ui--gap-y);
		border-radius: var(--cp-border-radius-round);
		box-shadow: var(--cp-box-shadow);
		line-height: 1;
		
		.material-icons {
			line-height: .75;
			margin-right: .5rem;
		}
		
		> span {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&--map {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&--controls {
		z-index: 5555;
		position: absolute;
		left: var(--cpl-map-control-gap);
		top: var(--cpl-map-control-gap);
	}

	.leaflet-control-zoom {
		border: none;
		display: flex;
		margin-left: var(--cpl-map-control-gap);
		margin-bottom: var(--cpl-map-control-gap);

		a {
			text-decoration: none;
			border: none;
			border-radius: 100% !important;
			margin-right: var(--cp-grid--gap);
			box-shadow: var(--cp-box-shadow);
		}
	}

	&--my-location {
		box-shadow: var(--cp-box-shadow);
		padding: var(--cp-ui--gap-y);
		border-radius: 100%;
		margin-left: var(--cpl-map-control-gap);

		svg {
			display: block;
		}
	}
	
	&--locations-current {
		background: var(--cupertino-pane-background, #ffffff);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 777888;
		
		&--footer {
			margin: var(--cp-gap--large);
			padding: var(--cp-gap-base) 0;
			font-size: var(--cp-font-size--sm);
		}
	}
}

body .cploc-map-location {
	display: flex;
	flex-flow: row;
	cursor: pointer;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	&--thumb {
		width: 20rem;
		max-width: 30%;
		margin-right: 1rem;
		border-radius: 3px;
		overflow: hidden;

		div {
			padding-bottom: 100%;
			background-size: cover;
		}
	}

	&--content {
		padding-top: 1em;
		font-size: .875rem;
		line-height: 1.25;
	}

	&--title {
		font-size: 1.25em;
		margin: 0;
	}
}

.cploc-list {

	&--meta {
		padding: 1rem 0;
		font-size: .85rem;

		> * {
			margin-right: 1rem;
		}
	}

	&--items {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(220px, max-content) );
		margin: auto;
		justify-content: center;
		gap: 2rem;
	}

	&--item {
		padding: 2rem;
		background: #eee;
	}
}

body .cploc-map-popup {
	&--title {
		font-size: 1.25rem;
		margin-bottom: .25rem;
	}

	&--thumb {
		margin-bottom: .25rem;

		img {
			display: block;
		}
	}
}