
@import "leaflet/dist/leaflet.css";

#cploc_root {
	min-height: 300px;
	
	.leaflet-container {
		padding-bottom: 56.25%;
	}
}

.cploc--mode-switch {
	cursor: pointer;
}

.cploc-container {
	position: relative;
	
	&--loading {
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		padding: 200px;
		z-index: 77777;
		background: rgba(255,255,255, .25);
	}	
	
	.searchInput__root {
		box-shadow: 0 0 8px rgba(0,0,0,.25);
		background: white;
		padding: 1em;
		
		input {
			border: none;
			outline: none;
			box-shadow: none;
			background: transparent;
			padding: 0;
			margin-left: .5em;
		}
	}
		
}

.cploc-map {
	display: flex;
	flex-flow: row;
	position: relative;
	
	&--tabs {
		width: min(20em, 40%);
		
		&--search, .cploc--mode-switch {
			padding: 1rem;
			font-size: .85rem;
		}
		
		&--tab {
			padding: 1rem;
		}
	}
	
	&--map {
		position: relative;
		width: 100%;
	}
	
	.searchInput__root {
		z-index: 5555;
		position: absolute;
		left: 40px;
		top: 40px;
	}
	
	.leaflet-control-zoom {
		border: none;
		display: flex;
		margin-left: 40px;
		margin-bottom: 40px;
		
		a {
			text-decoration: none;
			border: none;
			border-radius: 100% !important;
			margin-right: 10px;
			box-shadow: 0 0 8px rgba(0,0,0,.25);
		}
	}
}

body .cploc-map-tab {
	display: flex;
	flex-flow: row;
	cursor: pointer;
	
	&:not(:last-child) {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	
	&--thumb {
		width: 20rem;
		max-width: 30%;
		margin-right: 1rem;
		border-radius: 3px;
		overflow: hidden;
		
		div {
			padding-bottom: 100%;
			background-size: cover;
		}
	}

	&--content {
		padding-top: 1em;
		font-size: .875rem;
		line-height: 1.25;
	}
	
	&--title {
		font-size: 1.25em;
		margin: 0;
	}
}

.cploc-list {
	
	&--meta {
		padding: 1rem 0;
		font-size: .85rem;
		
		> * {
			margin-right: 1rem;
		}
	}
	
	&--items {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(220px, max-content) );
		margin: auto;
		justify-content: center;
		gap: 2rem;
	}
	
	&--item {
		padding: 2rem;
		background: #eee;
	}
}
body .cploc-map-popup {
	&--title {
		font-size: 1.25rem;
		margin-bottom: .25rem;
	}
	
	&--thumb {
		margin-bottom: .25rem;
		
		img {
			display: block;
		}
	}
}